@import './variables';

@font-face {
  font-family: 'Rick-and-Morty-Font';
  src: url(../assets/fonts/get_schwifty.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  height: 100vh;

  background-color: $darkBlue;
  color: #fff;

  font-family: 'Poppins', sans-serif;

  --webkit-font-smoothing: antialised;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input, button {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}