@import '../../styles/variables';

.homeWrapper {
  padding: 0.5rem;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-family: 'Rick-and-Morty-Font';
    font-size: 4rem;
    text-align: center;
    color: $yellow;

    margin-bottom: 1rem;

    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
}
