.characterList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-items: center;
  grid-gap: 0.5rem;

  padding: 1rem 0;

  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;

    figure {
      width: 100%;
      max-width: 300px;
      img {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}